<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to speech-therapy, <%= @patient.firstName %></h1>
    <p>
      You have successfully signed up to example.com,
      you can register in your account with your id number, 
      your password is: <%= @patient.password %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>