%nav{:class => "navbar navbar-inverse navbar-fixed-bottom", :role => "navigation"}
  .container
    .row
      .col-md-12
        .text-center.text-muted
          %p{:class => 'footer-text'} 2014 כל הזכויות שמורות ל-ISGO