= render partial: 'menu/menu', locals: {active: "voice_hygiene"}

.row
  .col-md-4.col-md-offset-4
    .thumbnail
      .caption
      %h2.text-center
        הגיינה קולית
        %h3.text-center
          עריכת משימה
          %small
            = link_to 'הצג', @voice_hygiene, class: 'btn btn-primary', role: 'button'
            \#{link_to 'חזור', voice_hygienes_path, class: 'btn btn-default', role: 'button'}


        %p= render 'form'
