
= render partial: 'menu/menu', locals: {active: "theoretical_backgrounds"}

.row
  .col-md-4.col-md-offset-4
    .thumbnail
      .caption
      %h2.text-center
        רקע תאורטי
        %h3.text-center
          משימה חדשה
          %small
            = link_to 'חזור', theoretical_backgrounds_path, class: 'btn btn-default'
        %p= render 'form'