= render partial: 'menu/menu', locals: {active: "addPatient"}

/%h1 #{@tester}
.container.theme-showcase{:role => "main"}

.row
  .col-md-12
    %h1 פתיחת תיק למטופל חדש
    .row
      .col-md-5.col-md-offset-1
        = form_tag patient_index_path do

          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "id_label"} מספר ת"ז:
              %input{:type => "text", :class => "form-control", :id => "id", :placeholder => 'תעודת זהות', :autofocus => 'true'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "fname_label"} שם פרטי:
              %input{:type => "text", :class => "form-control", :id => "fname", :placeholder => 'שפ פרטי'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "lname_label"} שם משפחה:
              %input{:type => "text", :class => "form-control", :id => "lname", :placeholder => 'שם משפחה'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "email_label"} מייל:
              %input{:type => "email", :class => "form-control", :id => "email", :placeholder => 'מייל'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "hmo_label"} קופת חולים:
              %input{:type => "text", :class => "form-control", :id => "hmo", :placeholder => 'קופת חולים'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "phone_label"} מספר טלפון:
              %input{:type => "text", :class => "form-control", :id => "phone", :placeholder => 'מספר טלפון'}
          .form-group{:class=>"form-horizontal"}
            .input-group
              %label{:for => "address_label"} כתובת:
              %input{:type => "text", :class => "form-control", :id => "address", :placeholder => 'כתובת'}
          = button_tag "הוסף מטופל", class: 'btn btn-primary btn-lg btn-block'
