= render partial: 'menu/menu', locals: {active: "therapist"}

%h1 שלום #{@user.firstName}

.row
  .col-md-3
    %ul{:class => "nav nav-pills nav-stacked"}
      %li{:role => "presentation"}
        %a{:href => "therapist/addPatient"} הוספת מטופל ופתיחת תיק
      %li{:role => "presentation"}
        %a{:href => "therapist/myFiles"} עריכת תיק וצפייה
      %li{:role => "presentation"}
        %a הוספת שיעורים
      %li{:role => "presentation"}
        %a הוספת שיעורים למטופל
      %li{:role => "presentation"}
        %a שיעורים שהוגשו