%h1 שלום משתמש

.row
  .col-md-3
    %ul{:class => "nav nav-pills nav-stacked"}
      %li{:role => "presentation"}
        %a{:href => ""} הוספת מטופל ופתיחת תיק
      %li{:role => "presentation"}
        %a עריכת תיק וצפייה
      %li{:role => "presentation"}
        %a הוספת שיעורים
      %li{:role => "presentation"}
        %a הוספת שיעורים למטופל
      %li{:role => "presentation"}
        %a שיעורים שהוגשו